import {LanguageOperation} from "/.gen/languages";
import {LanguageSwitch} from "/.gen/languages";
{{- range $lang := $.Languages }}
import {{toCapital $lang}}Parameters from "./_parameters/{{$lang}}.mdx";
import {{toCapital $lang}}Response from "./_response/{{$lang}}.mdx";
import {{toCapital $lang}}Usage from "./_usage/{{$lang}}.mdx";
{{- end }}

export const Operation = () => {
    {{- range $lang := $.Languages }}
    const {{$lang}} = <LanguageOperation parameters={<{{toCapital $lang}}Parameters/>} response={<{{toCapital $lang}}Response/>} usage={<{{toCapital $lang}}Usage/>}/>
    {{- end }}
    return <LanguageSwitch langToContent={{"{"}}{{ range $index, $lang := $.Languages }}{{$lang}}{{if not (eq $index (sub (len $.Languages) 1))}}, {{end}}{{ end }}{{"}"}}/>
}

<Operation />
