import {LanguageSwitch} from "/.gen/languages";
{{- range $lang := $.Languages }}
import {{toCapital $lang}}Installation from "./_snippets/{{$lang}}.mdx";
{{- end }}

<LanguageSwitch langToContent={{"{{"}}{{ range $index, $lang := $.Languages }}{{$lang}}: <{{toCapital $lang}}Installation/>{{if not (eq $index (sub (len $.Languages) 1))}}, {{end}}{{ end }}{{"}}"}}/>
