@import '@/styles/utils/mixins';

.headings {
  @include generatePxToRem(max-width, 573);
  @include desktopMax1400 {
    @include generatePxToRem(max-width, 688);
  }
  @include tabletsMax768 {
    max-width: 100%;
  }
}

.columnContainer {
  @include flex(row, space-between, flex-start);
  width: 100%;
  @include desktopMax1400 {
    @include flex(column);
  }
  .mainContent {
    @extend .headings;
    width: 100%;
    & > *:last-child {
      @include desktopMin1400 {
        margin-bottom: 0;
      }
    }
  }
  .rightSideContent {
    max-width: 445px;
    width: 100%;
    @include desktopMax1400 {
      @include generatePxToRem(max-width, 688);
    }
    @include tabletsMax768 {
      max-width: 100%;
    }
  }
}
