{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "prettier",
    "next",
    "next/core-web-vitals"
  ],
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "import",
    "simple-import-sort",
    "unused-imports",
    "prettier",
    "@typescript-eslint/eslint-plugin"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json",
        "alwaysTryTypes": true
      }
    }
  },
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./",
    "sourceType": "module",
    "ecmaVersion": 2019
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "MemberExpression": 1
      }
    ],
    "@typescript-eslint/type-annotation-spacing": [
      "warn",
      {
        "after": true
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/semi": "error",
    "space-before-blocks": "error",
    "keyword-spacing": "error",
    "no-multi-spaces": "error",
    "import/no-unresolved": "error",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "sibling",
          "parent",
          "index",
          "unknown"
        ],
        "newlines-between": "always"
      }
    ],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "padded-blocks": ["error", "never"],
    "quotes": ["error", "single"],
    "no-shadow": 0,
    "spaced-comment": ["error", "always"],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxBOF": 0,
        "maxEOF": 0
      }
    ],
    "no-inline-comments": [
      "error",
      {
        "ignorePattern": "TODO"
      }
    ],
    "arrow-body-style": "error",
    "object-curly-spacing": ["error", "always"],
    "array-bracket-spacing": ["error", "never"],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": {
          "multiline": false,
          "minProperties": 3,
          "consistent": true
        },
        "ImportDeclaration": {
          "minProperties": 3,
          "consistent": true,
          "multiline": true
        }
      }
    ],
    "object-property-newline": [
      "error",
      {
        "allowAllPropertiesOnSameLine": false
      }
    ],
    "space-in-parens": ["error", "never"],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": ["return", "while", "switch", "block", "if", "for"]
      },
      {
        "blankLine": "always",
        "prev": ["block", "while", "switch", "if", "for"],
        "next": "*"
      }
    ],
    "no-console": [
      "error",
      {
        "allow": ["warn", "error", "info"]
      }
    ],
    "block-spacing": "error",
    "comma-dangle": ["error", "always-multiline"],
    "no-duplicate-imports": "error",
    "curly": "error",
    "brace-style": "error",
    "implicit-arrow-linebreak": ["error", "beside"],
    "lines-between-class-members": ["error", "always"],
    "semi-spacing": "error",
    "semi": "error",
    "arrow-spacing": "error",
    "@typescript-eslint/no-extra-semi": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@next/next/no-img-element": "off",
    "no-case-declarations": "off",
    "react-hooks/exhaustive-deps": "off"
  }
}
