@import '@/styles/utils/mixins';

.link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: 152%;

  column-gap: 4px;

  color: var(--text-link) !important;

  svg {
    height: 1em;
    width: 1em;
    padding-bottom: 2px;

    path {
      stroke: var(--text-link);
    }
  }

  &:hover {
    filter: brightness(1.2);
  }
}
