@import '@/styles/utils/mixins';

.toggle {
  margin-left: 24px;
  label {
    @include flex(row, center, center);
    column-gap: 8px;
    cursor: pointer;
    span {
      @include tabletsMax768 {
        display: none;
      }
    }
  }
}

.checkedIcon {
  @include flex(row, center, center);
  height: 100%;
}
