@import '@/styles/utils/mixins';

.nav_item {
  width: 100%;
  @include generatePxToRem('padding', 8);
  @include generatePxToRem('border-radius', 8);
  border: 1px solid transparent;
  transition: all 0.15s ease;

  &:hover {
    @include generatePxToRem('border-radius', 8);
    border: 1px solid var(--heading-sidebar-bg-color);
  }

  &.separator {
    @include generatePxToRem('padding', 14 16 14 0);

    &:hover {
      border: 1px solid transparent;
    }

    > p {
      @include sidebar-heading-separator(var(--heading-h5-color));
    }
  }

  &.selected {
    width: 100%;

    &:hover {
      border: 1px solid transparent;
    }

    // Check /styles/globals.css for the rest of the styling
  }

  &.visible {
    background-color: #2A2A2A;
  }

  > p {
    margin: 0;
    @include heading-h5(var(--heading-h5-color));

    &:first-letter {
      text-transform: uppercase;
    }
  }
}
