@import '../styles/utils/mixins';

.collapsible {
  @include generatePxToRem('border-radius', 16);
  border: 1px solid var(--code-block-border);
  background: var(--code-background);
  backdrop-filter: blur(10px);
  @include generatePxToRem('padding', 16);
  @include generatePxToRem('margin', 20 0);

  &_nested {
    @include generatePxToRem('padding', 0 20 8 20);

    .collapsible {
      border: none;
      margin-top: 0;
    }

    > h5, > p {
      @include collapse-children-heading-text();
      margin: 0;
    }
  }

  &_heading {
    @include flex(row, initial, center, nowrap);
    transition: all 1s ease;

    > h5, > p {
      @include collapse-children-heading-text();
      @include generatePxToRem('margin', 0 0 0 5);
    }
  }
}
