@import '../styles/utils/mixins';

.parameters {
  @include generatePxToRem('margin', 20 0);

  h5 {
    font-family: var(--font-family-mono);
    font-weight: normal;
    @include generatePxToRem('font-size', 16);
    @include generatePxToRem('margin', 0 0 5 0);

    // Styling for parameter types
    em {
      font-style: normal !important;
      color: var(--text-body) !important;
    }
  }

  p {
    @include generatePxToRem('font-size', 14);
    margin: 0;
  }

  hr {
    @include generatePxToRem('margin', 20 0, !important);
  }
}

.collapsible {
  @include generatePxToRem('border-radius', 8);
  border: 1px solid var(--hr-color);
  backdrop-filter: blur(10px);
  @include generatePxToRem('margin', 10 0);
  padding: 0;
  overflow: hidden;

  hr {
    @include generatePxToRem('margin', 10 0, !important);
  }

  &_heading {
    @include flex(row, initial, center, nowrap);
    transition: all 0.5s ease;
    @include generatePxToRem('padding', 8);

    > h5 {
      @include collapse-children-heading-text();
      @include generatePxToRem('margin', 0 0 0 10);

      font-family: var(--font-family-mono);
      font-weight: normal;
      @include generatePxToRem('font-size', 14);
    }

    &:hover {
      @include generatePxToRem('border-radius', 8);
      cursor: pointer;

      h5 {
        color: var(--text-link);
      }
    }
  }

  &_body {
    @include generatePxToRem('padding', 12);
    border-top: 1px solid var(--hr-color);

    table {
      @include generatePxToRem(margin, -12, !important);
    }
  }
}
