@import 'styles/utils/mixins';
@import 'styles/utils/variables';

.Collapse {
  @include generatePxToRem('border-radius', 0 0 16 16, !important);
  border-width: 0 1px 1px 1px;
  border-color: var(--code-block-border);
  border-style: solid;
  background: var(--collapse-params-code-bg-color);
  backdrop-filter: blur(10px);
  @include generatePxToRem('padding', 16);
  //@include generatePxToRem('margin-bottom', 30);

  &.withoutHeadings {
    border-width: 1px;
    @include generatePxToRem('border-radius', 16, !important);
  }


  .collapse_children {
    @include flex(column);
    @include generatePxToRem('gap', 8);

    > p {
      @include collapse-children-heading-text();
      margin: 0;
    }

    > div {
      margin: 0;
    }
  }

  .ant-collapse-item-active {
    @include flex(column);
    @include generatePxToRem('gap', 8);
  }

  .ant-collapse-header {
    padding: 0 !important;
    align-items: center !important;
    width: max-content;
    pointer-events: none;

    .ant-collapse-expand-icon {
      @include generatePxToRem('padding-right', 4, !important);
    }

    .ant-collapse-header-text {
      @include collapse-heading-code();
      pointer-events: initial;

      .key {
        color: var(--heading-h5-color);
      }

      .symbols {
        color: var(--symbol-color);
      }

      .value {
        color: var(--string-color);
      }

      .nested {
        font-family: Inter, sans-serif;
        color: var(--text-link-and-collapse);
      }
    }
  }

  .ant-collapse-content-box {
    @include generatePxToRem('padding', 0 0 8 20, !important);

    .nested_desc {
      @include collapse-heading-code();
      margin: 0;
      font-family: Inter, sans-serif;
      color: var(--text-nested-description);
    }
  }


  &_nest {
    background: transparent;

    .ant-collapse-item:not(:first-child) {
      margin-top: 10px;
    }

    .ant-collapse-content-active {
      @include generatePxToRem('border-radius', 16, !important);
      //border: 1px solid var(--code-block-border) !important;
    }

    .ant-collapse-content-box {
      width: 99%;
      @include flex(column);
      @include generatePxToRem('gap', 8);
      @include generatePxToRem('padding',  0 16, !important);
      @include collapse-heading-code();
      //max-height: 400px;
      height: max-content;
      overflow-y: auto;

      &::-webkit-scrollbar {
        @include generatePxToRem('width', 4);
      }

      &::-webkit-scrollbar-track {
        @include generatePxToRem('margin', 18 0 18 0);
        background-color: var(--bcg-scrollbar-track);
        @include generatePxToRem('border-radius', 12);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--bcg-color-scrollbar-thumb);
        @include generatePxToRem('border-radius', 12);
      }

      > div {
        @include flex(column);
        @include generatePxToRem('gap', 4);
      }

      .key {
        color: var(--heading-h5-color);
      }

      .symbols {
        color: var(--symbol-color);
      }

      .value {
        color: var(--string-color);
      }

      .nested {
        font-family: Inter, sans-serif;
        color: var(--text-link-and-collapse);
      }

      .nested_params_box {
        display: flex;
        white-space: break-spaces;
      }

      .nested_desc {
        @include collapse-heading-code();
        margin: 0;
        font-family: Inter, sans-serif;
        color: var(--text-nested-description);
      }
    }

  }
}

a, summary, button, input, [tabindex]:not([tabindex="-1"]) {
  outline: none !important;
}


