@import '@/styles/utils/mixins';

.select {
  @include generatePxToRem(width, 36);
  @include generatePxToRem(height, 36);
  @include flex(column, center, center);

  @include generatePxToRem(border-radius, 8);

  transition: all .2s ease;

  &.active {
    svg {
      filter: grayscale(0);
    }
  }

  &:hover {
    svg {
      filter: grayscale(0);
    }
  }

  svg {
    width: 26px;
    height: 26px;

    filter: grayscale(1);
  }
}

.menu {
  background-color: var(--code-background);
  border: 1px solid var(--code-block-border);
  @include generatePxToRem(border-radius, 8);
}

.menuItem {
  color: var(--text-body);
  border: 3px solid transparent;
  background-color: transparent;

  &:hover {
    border-left-color: var(--text-body);
    color: var(--text-heading)
  }

  &.active {
    border-left-color: var(--text-body);
  }
}
