@import '@/styles/utils/mixins';

.codeBlockContainer {
  @include generatePxToRem(border-radius, 16);
  @include generatePxToRem(margin-bottom, 24);
  width: 100%;
  //height: 100%; changed to max-content, if needs back to the 100%
  height: max-content;
  border: 1px solid var(--code-block-border);
  background-color: var(--code-background);
  &:last-child {
    margin-bottom: 0;
  }
  @include tabletsMax768 {
    @include generatePxToRem(margin-bottom, 16);
  }
  .pre {
    @include generatePxToRem(border-radius, 0 0 16 16);
    code {
      @include generatePxToRem(font-size, 12);
      overflow: auto;
      padding: 1.25rem 0 !important;
      color: var(--primary-code-color);
      font-family: IBM Plex Mono, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 152%;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      tab-size: 4;
      hyphens: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &.withoutHeader {
      @include generatePxToRem(border-radius, 16);
    }
  }

}
