/* Make the top level container take up the entire page.
/* Without this, there are large margins on the left and right */
div .nx-max-w-\[90rem\] {
    max-width: 100%;
}
div .nx-max-w-6xl {
    max-width: 100%;
}

/* This is where the TOC normally lives. Because we hide it, we need to make its container have no width
/* or else the middle section appears off center */
div .nx-w-64 {
    width: 0;
}