@import '@/styles/utils/mixins';

.sub_header {
  width: 100%;
  display: flex!important;
  flex-direction: row!important;
  justify-content: space-between!important;
  align-items: center!important;
  flex-wrap: wrap!important;
  @include generatePxToRem(padding, 10 16);
  background-color: var(--sub-header-params-bg-color);
  @include generatePxToRem(border-width, 0 1 0 1);
  border-color: var(--code-block-border);
  border-style: solid;
  min-height: 45px;

  &.nested {
    padding: 0!important;
    background-color: transparent;
    border-width: 0;
  }

  > p {
    margin: 0;
    @include collapse-sub-heading-title();
  }

  &_search {
    @include generatePxToRem(padding, 5 16);
    width: 176px;
    border: 1px solid var(--code-block-border);
    background-color: var(--collapse-params-code-bg-color);
    box-shadow: none;

    &:hover {
      border-color: var(--code-block-border) !important;
    }

    > span {
      @include generatePxToRem(margin-inline-end, 10, !important);
    }

    > input {
      @include collapse-sub-heading-input-text();
      background-color: var(--collapse-params-code-bg-color);

      &::placeholder {
        @include collapse-sub-heading-input-text();
      }
    }
  }
}
